

/* font sizes 
--body-16px-regular: "SF Pro Display";



--body-16px-regular-size: 16px;
--heading-32px-medium-size: 32px;

 Colors 
--color-for-chatbot-background-dark: #0b0011;
--color-for-chatbot-primary-1: #9860e4;
--color-for-chatbot-grey-3: #fff;
--color-for-chatbot-primary-2: #b99cf1;

*/
.frame-child,
.frame-item {
  position: absolute;
  filter: blur(122px);
  border-radius: 50%;
}
.frame-child {
  top: 82px;
  left: 74px;
  background-color:  #b99cf1;
  width: 182px;
  height: 182px;
}
.frame-item {
  top: 0;
  left: 0;
  background-color: #fbf28b;
  width: 128px;
  height: 128px;
  z-index: 1;
}
.ellipse-parent,
.image-icon {
  position: absolute;
  top: 104px;
  left: 75px;
  width: 256px;
  height: 264px;
}
.image-icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.frame-parent {
  align-self: stretch;
  height: 403px;
  position: relative;
}
.meet {
  position: relative;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
  min-width: 73px;
}
.span {
  color: #fff;
}
.sundae {
  flex: 1;
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 123px;
  color: #fae44b;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.your-own-ai {
  align-self: stretch;
  position: relative;
  line-height: 40px;
  font-weight: 500;
}
.title-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 25px;
  gap: 4px;
}
.ask-your-questions {
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.background {
  position: absolute;
  width: 100%;
  top: calc(50% - 12px);
  right: 0;
  left: 0;
  filter: blur(69px);
  border-radius: 12px;
  background-color:  #b99cf1;
  height: 24px;
}
.plus-icon {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.button1,
.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  width: 80px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: SF Pro Display;
  color:  #fff;
  text-align: center;
}
.button1 {
  position: absolute;
  top: 0;
  left: calc(50% - 172.5px);
  border-radius: 24px;
  background-color:  #9860e4;
  width: 345px;
  flex-direction: row;
  padding: 12px 79px;
  box-sizing: border-box;
  gap: 8px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 48px;
  position: relative;
}
.frame-group,
.onboarding {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  gap: 40px;
  text-align: center;
  font-size: 32px;
  color:  #fff;
  font-family: SF Pro Display;
}
.onboarding {
  width: 393px;
  border-radius: 30px;
  background-color: #0b0011;
  max-width: 100%;
  overflow: hidden;
  padding: 77px 24px 80px;
  box-sizing: border-box;
  gap: 56px;
  line-height: normal;
  letter-spacing: normal;
}
